p{
    padding: 10px;
}

h2{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 5px;
    padding: 10px;
}

.grid li{
    border: 1px red solid;
}