*,
html{
    margin: 0;
    padding:0;
    box-sizing: inherit;
    list-style: none;
}

#Wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: gray;
}

h2{
    text-decoration: underline;
}

ul{
    padding: 1em;
}

p{
    margin-top: 0.5em;
}

