*,
html{
    margin: 0;
    padding:0;
    box-sizing: inherit;
    list-style: none;
}

body{
    background-color: #013b3d;
}
#Wrapper{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    background-color: gray;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 1em;
}

.row1{
    grid-column-start: 1;
    grid-row-start:1 ;
    grid-row-end: 5;
    border: 1px black solid;
}

.row2{
    border: 1px black solid;
    grid-column-start: 2;
    grid-row-start:1 ;
    grid-row-end: 5;
}

h2{
    text-decoration: underline;
    text-align: center;
}

ul{
    padding: 1em;
}

p{
    margin-top: 0.5em;
}

img{
    width: 200px;
    height: 300px;
}

